.footer-bar {
   width: 100%;
   height: 100px;
   color: white;
   background-color: grey;
   margin-top: auto;
    .usefull-links {
        margin-left: 25px;
    }
    .social-medias {
    .social-media-icon {
        margin-left: 25px;
    }
   }

}